In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder,StandardScaler

df=pd.read_csv("/Users/samarthgarg/Downloads/ML ETP/DataSets/insurance.csv")
df.shape

(1338, 7)

In [ ]:
# Separate numerical and categorical columns
num_cols = df.select_dtypes(include=['int64', 'float64']).columns
cat_cols = df.select_dtypes(include=['object']).columns

In [ ]:
# # Encode categorical variables using Label Encoding
# le = LabelEncoder()
# for col in cat_cols:
#     df[col] = le.fit_transform(df[col])
df

ValueError: Boolean array expected for the condition, not object

In [ ]:
# One-Hot Encoding
df = pd.get_dummies(df)
df

,age,bmi,children,charges,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,True,False,False,True,False,False,False,True
1,18,33.770,1,1725.55230,False,True,True,False,False,False,True,False
2,28,33.000,3,4449.46200,False,True,True,False,False,False,True,False
3,33,22.705,0,21984.47061,False,True,True,False,False,True,False,False
4,32,28.880,0,3866.85520,False,True,True,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
1333,50,30.970,3,10600.54830,False,True,True,False,False,True,False,False
1334,18,31.920,0,2205.98080,True,False,True,False,True,False,False,False
1335,18,36.850,0,1629.83350,True,False,True,False,False,False,True,False
1336,21,25.800,0,2007.94500,True,False,True,False,False,False,False,True
1337,61,29.070,0,29141.36030,True,False,False,True,False,True,False,False

In [ ]:
# Feature scaling using StandardScaler
scaler = StandardScaler()
df[num_cols] = scaler.fit_transform(df[num_cols])
df

,age,bmi,children,charges,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,-1.438764,-0.453320,-0.908614,0.298584,True,False,False,True,False,False,False,True
1,-1.509965,0.509621,-0.078767,-0.953689,False,True,True,False,False,False,True,False
2,-0.797954,0.383307,1.580926,-0.728675,False,True,True,False,False,False,True,False
3,-0.441948,-1.305531,-0.908614,0.719843,False,True,True,False,False,True,False,False
4,-0.513149,-0.292556,-0.908614,-0.776802,False,True,True,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
1333,0.768473,0.050297,1.580926,-0.220551,False,True,True,False,False,True,False,False
1334,-1.509965,0.206139,-0.908614,-0.914002,True,False,True,False,True,False,False,False
1335,-1.509965,1.014878,-0.908614,-0.961596,True,False,True,False,False,False,True,False
1336,-1.296362,-0.797813,-0.908614,-0.930362,True,False,True,False,False,False,False,True
1337,1.551686,-0.261388,-0.908614,1.311053,True,False,False,True,False,True,False,False